<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <header th:insert="fragments/general.html :: navbar"> </header>

    <div class="row">
        <div class="col-sm-4" th:each="product: ${products}" >
            <img src="https://picsum.photos/id/1/200/300" class="card-img-top" width="300" height="400" alt="...">
            <h5 class="card-title" th:text="${product.getName()}">Product title</h5>
            <p class="card-text" th:text="${product.getDescription()}">Product Description</p>
            <p class="card-text" ><small class="text-muted"th:text="${product.getStock()}">Product Price</small></p>
            <p class="card-text" th:text="${product.getPrice()}">Product Price</p>
            <p class="card-text" th:text="${product.category.name}">Product Category</p>
        </div>
    </div>

    <footer class="container-fluid" th:insert="fragments/general.html :: footer"> </footer>

</body>
</html>