<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/general.html :: css"> </th:block>

    <meta charset="UTF-8">
</head>
<body>
    <header th:insert="fragments/general.html :: navbar"> </header>
    <div class="container-fluid mt-2 mb-5">
        <div class="products">
            <div class="tab-content" id="myTabContent">
                    <div class="row" >

                        <div class="col-md-2" th:each="product: ${products}">
                            <div class="card"> <img th:src="'/images/'+${product.getImageName()}" class="card-img-top">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between"> <span class="font-weight-bold title" th:text="${product.getName()}">Product Title</span> <span class="font-weight-bold" th:text="'€ '+${product.getPrice()}">Product Price</span> </div>
<!--                                    <th:block th:insert="fragments/general.html :: css"> </th:block>-->
                                    <p class="card-text mb-1 mt-1 desc" th:text="${product.getDescription()}">Product Description</p>

                                    <div class="d-flex align-items-center flex-row"> <span th:text="${product.getCategory().getName()}">Category Name</span> </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="text-right buttons"> <button class="btn btn-outline-dark">add to wishlist</button> <button class="btn btn-dark">Add to cart</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="container-fluid" th:insert="fragments/general.html :: footer"> </footer>

</body>
</html>








